h1,
h2,
h3,
h4,
p {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
form {
  padding: 20px;
}
.temperature {
  padding-bottom: 10px;
  font-size: 120px;
  color: whitesmoke;
}
.forecast {
  margin-top: 10px;
  padding-bottom: 80px;
  font-size: 30px;
  color: lightgray;
}
h3 {
  color: whitesmoke;
}
h4 {
  color: lightgray;
}
.location {
  color: white;
  padding-top: 10px;
}
body {
  min-height: 100%;
  background-attachment: fixed;
  background-image: linear-gradient(
    to right top,
    #fffeff,
    #f9f5fa,
    #f1edf5,
    #e8e5f2,
    #deddee,
    #dcdaed,
    #d9d7eb,
    #d7d4ea,
    #ddd4ea,
    #e3d5e9,
    #e8d5e8,
    #edd6e6
  );
}
.row {
  padding-top: 100px;
}
