h1,
h2,
h3,
h4,
p {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
h2, h3 {
  color: #c5a0bb;
}
h4 {
  color: #7b71a0;
}
form {
  padding: 15px;
}
h2:first-letter {
  text-transform: capitalize;
}
img {
  margin: auto;
  display: block;
}
.search-city {
  border: 1px solid #e3d5e9;
  background-color: #f9f5fa ;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;

}
.temperature {
  padding-bottom: 10px;
  font-size: 100px;
  color: #7b71a0;
}
.unit {
  text-decoration: none;
  color: #7b71a0;
  cursor: default;
}
.unit:hover {
  text-decoration: none;
  cursor: default;
  color: #c5a0bb;
}
.separator {
  color: #c5a0bb;
}
.forecast {
  margin-top: 5px;
  padding-bottom: 30px;
  font-size: 30px;
  color: #c5a0bb;
}
.location:first-letter {
  text-transform: capitalize;

}
.conditions {
  font-weight: lighter;
  font-size: medium;
}

.location {
  color: white;
  padding-top: 5px;
}
.credits {
  color: #96a9c7;
  text-align: center;
  padding: 10px;
}
.row {
  padding-top: 80px;
}
body {
  min-height: 100%;
  background-attachment: fixed;
  background-image: linear-gradient(
    to right top,
    #fffeff,
    #f9f5fa,
    #f1edf5,
    #e8e5f2,
    #deddee,
    #dcdaed,
    #d9d7eb,
    #d7d4ea,
    #ddd4ea,
    #e3d5e9,
    #e8d5e8,
    #edd6e6
  );
}

